<!DOCTYPE html>
html(lang="en")
  include blocks/layout/head.pug
  +head(
		'Главная страница'
	)
  body
    include blocks/includes/header/header.pug

    include blocks/main/poster/poster.pug

    include blocks/includes/footer/footer.pug
   
    include blocks/layout/scripts.pug