* {
  margin: 0;
	padding: 0;
	border: 0;
  outline: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
	outline: 0;
}

*:link, *:visited {
	text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-weight: normal;
	font-style: normal;
  font-size: 100%;
  line-height: 1;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
	outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a, ins {
	text-decoration: none;
  outline: 0;
}

a img, :link img, :visited img {
	border: 0;
}

table {  
	border-collapse: collapse;  
	border-spacing: 0;  
}

caption, th, td {
	text-align: left;
  font-weight: normal;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
// @media (prefers-reduced-motion: reduce) {
//   * {
//     animation-duration: 0.01ms !important;
//     animation-iteration-count: 1 !important;
//     transition-duration: 0.01ms !important;
//     scroll-behavior: auto !important;
//   }
// }