
$fz-14: 14px;
$fz-16: 16px;
$fz-18: 18px;
$fz-20: 20px;
$fz-24: 24px;

$lh-14: 14px;

$openSansBold: "opensansBold", sans-serif;
$openSansRegular: "opensansRegular", sans-serif;
$openSansLight: "opensansLight", sans-serif;
$openSansLightItalic: "opensansLightItalic", sans-serif;

// $fontRegular: $fz-14 openSansRegular, sans-serif;

// Colors
$primary-color: #222;
$secondary-color: #333;
$black-color: #000;
$white-color: #fff;
$red-color: red;
$green-color: green;
$yellow-color: yellow;