mixin head(title)
  head
    meta(charset="UTF-8")
    meta(name="keywords" content="keywords")
    meta(name="description" content="description")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    //- meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv='x-dns-prefetch-control' content='on')
    title= title
    link(rel="icon" href="img/favicon.ico")
    link(rel="stylesheet" href="css/all.min.css")