body {
    font-family: $openSansRegular;
    line-height: $lh-14;
    color: $primary-color;
    overflow-x: hidden; 
}

.wrapper {
    max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 80px;
}